In [1]:
import numpy as np
import pandas as pd
import time
from datetime import timedelta
import datetime
import math

### Functions

In [2]:
# get list of users with volume unchanged for specified period. Also returns total volume of disk space used by all users in list
def get_volume_older_than(df, period):
    """period to include is in months"""
    datetime_delta = timedelta(weeks=4*period)
    oldest_date = datetime.datetime.now() - datetime_delta
    unixtime = time.mktime(oldest_date.timetuple())
    older = df[df['unix_ts'] < unixtime]
    older = older.sort_values(by='volume', ascending=False)
    total_volume_unchanged = older['volume'].sum()
    return older, total_volume_unchanged

# get the percentage use of each user
def get_top_users(df, total):
    df = df[['user', 'volume']]
    df['%'] = (df['volume']/total) * 100
    return df.round(2)

# to format volumes nicely
def convert_size(size_bytes):
    if size_bytes == 0:
        return "0B"
    size_name = ("B", "KB", "MB", "GB", "TB", "PB", "EB", "ZB", "YB")
    i = int(math.floor(math.log(size_bytes, 1024)))
    p = math.pow(1024, i)
    s = round(size_bytes / p, 2)
    return "%s %s" % (s, size_name[i])

In [13]:
# get data from bash script output into dataframe
data = 'example.txt'
df = pd.read_csv(data, delim_whitespace=True, header=None, names=["user", "volume", "weekday", "month", "day", "time", "zone", "year", "unix_ts"])

In [14]:
older, volume = get_volume_older_than(df, 2)

In [15]:
older

,user,volume,weekday,month,day,time,zone,year,unix_ts
4,user5,7818503043769,Tue,Jun,15,15:42:54,SAST,2021,1.623765e+09
16,user17,7229396370993,Mon,Oct,18,12:16:04,SAST,2021,1.634552e+09
2,user3,6057724100588,Fri,May,14,19:24:15,SAST,2021,1.621013e+09
17,user18,2724868657471,Tue,Oct,19,13:20:32,SAST,2021,1.634642e+09
19,user20,2655842721154,Tue,Oct,26,13:59:05,SAST,2021,1.635250e+09
14,user15,2072533075361,Sun,Oct,10,20:34:53,SAST,2021,1.633891e+09
5,user6,1910996286933,Tue,Jun,22,17:02:07,SAST,2021,1.624374e+09
1,user2,1896993787933,Fri,May,14,10:37:53,SAST,2021,1.620981e+09
13,user14,313174940147,Fri,Oct,1,01:10:54,SAST,2021,1.633043e+09
9,user10,237132364033,Tue,Jul,20,14:08:03,SAST,2021,1.626783e+09
18,user19,172112101819,Fri,Oct,22,10:07:03,SAST,2021,1.634890e+09
3,user4,12046131356,Thu,May,27,16:13:55,SAST,2021,1.622125e+09
10,user11,2694898771,Wed,Jul,28,10:07:07,SAST,2021,1.627460e+09
15,user16,1403599938,Thu,Oct,14,10:40:39,SAST,2021,1.634201e+09
7,user8,263065259,Sat,Jul,17,10:58:28,SAST,2021,1.626512e+09
0,user1,149117405,Tue,Mar,23,12:42:13,SAST,2021,1.616496e+09
6,user7,92264437,Mon,Jun,28,20:12:52,SAST,2021,1.624904e+09
11,user12,12483237,Wed,Sep,15,12:45:02,SAST,2021,1.631703e+09
12,user13,13428,Thu,Sep,30,12:44:57,SAST,2021,1.632999e+09
8,user9,468,Tue,Jul,20,12:28:29,SAST,2021,1.626777e+09

In [16]:
top_users = get_top_users(older, volume)

/anaconda3/lib/python3.6/site-packages/IPython/kernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
top_users['volume'] = df['volume'].apply(lambda x: convert_size(x))

In [18]:
top_users

      user     volume      %
4    user5    7.11 TB  23.62
16  user17    6.58 TB  21.84
2    user3    5.51 TB  18.30
17  user18    2.48 TB   8.23
19  user20    2.42 TB   8.02
14  user15    1.88 TB   6.26
5    user6    1.74 TB   5.77
1    user2    1.73 TB   5.73
13  user14  291.67 GB   0.95
9   user10  220.85 GB   0.72
18  user19  160.29 GB   0.52
3    user4   11.22 GB   0.04
10  user11    2.51 GB   0.01
15  user16    1.31 GB   0.00
7    user8  250.88 MB   0.00
0    user1  142.21 MB   0.00
6    user7   87.99 MB   0.00
11  user12    11.9 MB   0.00
12  user13   13.11 KB   0.00
8    user9    468.0 B   0.00

In [19]:
# users above one Tb
users_above_one = older[older['volume'] > 1*10**12]

In [20]:
users_above_one

,user,volume,weekday,month,day,time,zone,year,unix_ts
4,user5,7818503043769,Tue,Jun,15,15:42:54,SAST,2021,1.623765e+09
16,user17,7229396370993,Mon,Oct,18,12:16:04,SAST,2021,1.634552e+09
2,user3,6057724100588,Fri,May,14,19:24:15,SAST,2021,1.621013e+09
17,user18,2724868657471,Tue,Oct,19,13:20:32,SAST,2021,1.634642e+09
19,user20,2655842721154,Tue,Oct,26,13:59:05,SAST,2021,1.635250e+09
14,user15,2072533075361,Sun,Oct,10,20:34:53,SAST,2021,1.633891e+09
5,user6,1910996286933,Tue,Jun,22,17:02:07,SAST,2021,1.624374e+09
1,user2,1896993787933,Fri,May,14,10:37:53,SAST,2021,1.620981e+09

In [22]:
# in bytes
volume

33105939024500

In [23]:
convert_size(volume)

'30.11 TB'